*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.vscode/
/.cache/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/thirdparty/ovr_platform_sdk/
/toolkit/src/gen/
compile_commands.json

# Binaries
*.o
*.os
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
